<div class="serviceIntro-Unit-Item">
    <div class="serviceIntro-Unit-Title">裝修細清</div>

    <div class="serviceIntro-Unit-Content">
        <p>裝潢工程造成的不潔與一般家庭狀況不同，採用的清潔工具與工法也有所不同，須有3天以上的落塵期再進行清潔才會有效果。好事多了解裝潢清潔的重點，藉由透明的清潔流程，讓您能安心入住。</p>
    </div>
</div>

<div class="serviceIntro-Unit-Item">
    <div class="serviceIntro-Unit-Title">成果展示</div>

    <div class="serviceIntro-Unit-Content">
        <img class="introImg" alt="裝修細清-前" src="@Url.Content("~/Content/images/intro-decoration-before.jpg")" />
        <img class="introImg" alt="裝修細清-後" src="@Url.Content("~/Content/images/intro-decoration-after.jpg")" />
    </div>
</div>

<div class="serviceIntro-Unit-Item">
    <div class="serviceIntro-Unit-Title">價格參考</div>

    <div class="serviceIntro-Unit-Content">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>項目</th>
                    <th>參考價格</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0坪 ~ 10坪</td>
                    <td>2000 ~ 3000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>